.DataTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;

  .Data {
    .Overview {
      position: relative;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .btn.export {
        color: #fff;
        background: none !important;
        border: 1px solid #ffffff;
        &:focus {
          box-shadow: none;
        }
        &:active,
        &:hover {
          background-color: #fff !important;
          color: black;
        }
      }

      .Detail {
        width: 70%;
        display: flex;
        justify-content: space-between;
      }
    }
    table {
      color: #fff;
      thead {
        tr {
          th {
            text-align: center;
            border: 1px solid #fff;
            padding: 5px 10px;
          }
        }
      }
      tbody {
        tr {
          td {
            border: 1px solid #fff;
            padding: 5px 10px;
          }
        }
      }
    }
    .Download {
      position: relative;
      margin-top: 20px;
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      .btn.export {
        color: #fff;
        background: none !important;
        border: 1px solid #ffffff;
        &:focus {
          box-shadow: none;
        }
        &:active {
          background-color: #fff !important;
          color: black;
        }
      }
      .btn.download {
        background: none !important;
        border: 1px solid #ffffff;

        a {
          color: #fff;
          text-decoration: none;
        }
        &:focus,
        &:hover {
          background-color: #fff !important;
          box-shadow: none;
          a {
            color: #000;
          }
        }
      }
    }
  }
}

.popover {
  .popover-body {
    cursor: pointer;

    &:hover {
      background-color: rgb(218, 218, 218);
    }
  }
}
