.Introduction {
  background: url("../../../assets/Background/HMCWeb_BG_Red.jpg");

  .carousel {
    .carousel-inner {
      border-bottom-right-radius: 50px;
      box-shadow: 0 0 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      z-index: 2;
    }
  }
}
