.ProjectCard {
  width: 1138px;
  height: 475px;
  display: flex;
  justify-content: space-between;
  background: #c42f3b;
  align-items: center;
  padding-left: 22px;
  border-radius: 25px;
  margin: 0 20px;

  .name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    margin-left: 15px;
    &::before {
      content: "";
      width: 10px;
      height: 435px;
      background: #fff;
    }
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-size: 46pt;
        width: 385px;
        text-align: left;
        margin: 0 20px;
        line-height: 70px;
      }
    }
  }

  .image {
    img {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      width: 656px;
      height: auto;
      -webkit-app-region: no-drag;
    }
  }
}
