//////////////////////////////////////
//////////////GENERAL////////////////
////////////////////////////////////
.CarouselItem {
  position: relative;
  height: calc(100vh - 16px);
  .background {
    position: absolute;
    height: 100%;
    background: #000;
    display: flex;
    align-items: center;
    filter: blur(0px);
    animation: blurBackground 0.3s ease-in-out 0.5s;
    animation-fill-mode: forwards;

    img {
      width: 100%;
      height: auto;
      opacity: 1;
      animation: decreaseOpacity 0.3s ease-in-out 0.5s;
      animation-fill-mode: forwards;
    }
  }

  .ContentContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .CarouselItemContent {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .ContentAfter {
        width: 350px;
        display: flex;
        margin-right: 20px;
        overflow: hidden;

        &::after {
          content: "";
          width: 25px;
          height: 221px;
          background: #fff;
          margin-left: 20px;
        }

        .content {
          position: relative;
          left: 400px;
          color: #fff;
          height: 221px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .title {
            text-align: right;
            h3 {
              margin-bottom: 0;
            }
          }

          .describe {
            width: 100%;
            p {
              width: 100%;
              text-align: justify;
              margin-bottom: 0;
            }
          }
        }
      }

      .image {
        img {
          width: 190px;
        }
      }
    }
  }
}

.non-image {
  .ContentContainer {
    .CarouselItemContent {
      .ContentAfter {
        width: 700px;
        display: flex;

        &::after {
          content: "";
          width: 20px;
          height: 200px;
        }

        .content {
          height: 200px;
        }
      }
    }
  }
}

//////////////////////////////////////
//////////////TRANSITION/////////////
////////////////////////////////////

//////////GENERAL////////////////

@keyframes blurBackground {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(2px);
  }
}

@keyframes decreaseOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
//////////ABOUT US////////////////

.about-us-transition {
  .ContentContainer {
    .CarouselItemContent {
      .ContentAfter {
        &::after {
          content: "";
          position: relative;
          width: 25px;
          height: 0px;
          background: #fff;
          margin-left: 20px;
          animation: aboutUsBorderTransition 0.5s ease-out 0.8s;
          animation-fill-mode: forwards;
        }

        .content {
          position: relative;
          left: 400px;
          animation: aboutUsTextTransition 0.5s ease-out 1.3s;
          animation-fill-mode: forwards;
        }
      }

      .image {
        overflow: hidden;
        img {
          width: 190px;
          position: relative;
          right: 400px;
          animation: aboutUsImageTransition 0.5s ease-out 1.3s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes aboutUsBorderTransition {
  0% {
    height: 0;
  }
  100% {
    height: 221px;
  }
}

@keyframes aboutUsTextTransition {
  0% {
    left: 400px;
  }
  100% {
    left: 0;
  }
}

@keyframes aboutUsImageTransition {
  0% {
    right: 300px;
  }
  100% {
    right: 0;
  }
}

//////////ATTRIBUTE////////////////

.attribute-transition {
  .ContentContainer {
    .CarouselItemContent {
      .ContentAfter {
        position: relative;
        right: 700px;
        animation: attributePositionTransition 0.5s ease-out 1.1s;
        animation-fill-mode: forwards;
        &::after {
          content: "";
          position: relative;
          width: 25px;
          height: 0px;
          background: #fff;
          margin-left: 20px;
          animation: attributeBorderTransition 0.3s ease-out 0.8s;
          animation-fill-mode: forwards;
        }

        .content {
          position: relative;
          left: 700px;
          animation: attributeTextTransition 0.5s ease-out 1.1s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes attributePositionTransition {
  0% {
    right: 700px;
  }
  100% {
    right: 0;
  }
}

@keyframes attributeBorderTransition {
  0% {
    height: 0;
  }
  100% {
    height: 200px;
  }
}

@keyframes attributeTextTransition {
  0% {
    left: 700px;
  }
  100% {
    left: 0;
  }
}

//////////CREATIVITY//////////////////
.creativity-transition {
  .ContentContainer {
    .CarouselItemContent {
      .ContentAfter {
        position: relative;
        right: 700px;
        animation: attributePositionTransition 0.5s ease-out 1.1s;
        animation-fill-mode: forwards;
        &::after {
          content: "";
          position: relative;
          width: 25px;
          height: 0px;
          background: #fff;
          margin-left: 20px;
          animation: attributeBorderTransition 0.3s ease-out 0.8s;
          animation-fill-mode: forwards;
        }

        .content {
          position: relative;
          left: 700px;
          animation: attributeTextTransition 0.5s ease-out 1.1s;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes creativityPositionTransition {
  0% {
    right: 1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes creativityBorderTransition {
  0% {
    height: 0;
  }
  100% {
    height: 331px;
  }
}

@keyframes creativityTextTransition {
  0% {
    left: 1000px;
  }
  100% {
    left: 0;
  }
}

//////////////////////////////////////
//////////////MEDIA QUERRY///////////
////////////////////////////////////

@media only screen and (min-width: 1400px) {
  .CarouselItem {
    .ContentContainer {
      .CarouselItemContent {
        width: 940px;

        .ContentAfter {
          width: 600px;
          &::after {
            height: 331px;
            width: 40px;
          }
          .content {
            color: #fff;
            height: 331px;

            .title {
              h3 {
                font-size: 40pt !important;
              }
            }

            .describe {
              font-size: 20pt;
              width: 100%;
            }
          }
        }

        .image {
          img {
            width: 285px;
          }
        }
      }
    }
    &.non-image {
      .ContentContainer {
        .CarouselItemContent {
          width: 1000px;

          .ContentAfter {
            width: 1000px;

            &::after {
              content: "";
              width: 45px;
              height: 331px;
            }

            .content {
              height: 331px;
            }
          }
        }
      }
    }
    &.about-us-transition {
      .ContentContainer {
        .CarouselItemContent {
          .ContentAfter {
            &::after {
              height: 0;
              animation: aboutUsBorderTransition1920 0.3s ease-out 0.8s;
              animation-fill-mode: forwards;
            }
            .content {
              left: 600px;
              animation: aboutUsTextTransition1920 0.5s ease-out 1.1s;
              animation-fill-mode: forwards;
            }
          }

          .image {
            overflow: hidden;
            img {
              animation: aboutUsImageTransition1920 0.5s ease-out 1.1s;
              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
    &.attribute-transition {
      .ContentContainer {
        .CarouselItemContent {
          .ContentAfter {
            right: 1000px;
            animation: attributePositionTransition1920 0.5s ease-out 1.1s;
            animation-fill-mode: forwards;
            &::after {
              content: "";
              height: 0px;
              animation: attributeBorderTransition1920 0.3s ease-out 0.8s;
              animation-fill-mode: forwards;
            }

            .content {
              left: 1000px;
              animation: attributeTextTransition1920 0.5s ease-out 1.1s;
              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
    &.creativity-transition {
      .ContentContainer {
        .CarouselItemContent {
          .ContentAfter {
            right: 1000px;
            animation: attributePositionTransition1920 0.5s ease-out 1.1s;
            animation-fill-mode: forwards;
            &::after {
              content: "";
              height: 0px;
              animation: attributeBorderTransition1920 0.3s ease-out 0.8s;
              animation-fill-mode: forwards;
            }

            .content {
              left: 1000px;
              animation: attributeTextTransition1920 0.5s ease-out 1.1s;
              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
  }
}

//1920 transition
///ABOUT US//
@keyframes aboutUsBorderTransition1920 {
  0% {
    height: 0;
  }
  100% {
    height: 331px;
  }
}

@keyframes aboutUsTextTransition1920 {
  0% {
    left: 600px;
  }
  100% {
    left: 0;
  }
}

@keyframes aboutUsImageTransition1920 {
  0% {
    right: 500px;
  }
  100% {
    right: 0;
  }
}

//ATTRIBUTE
@keyframes attributePositionTransition1920 {
  0% {
    right: 1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes attributeBorderTransition1920 {
  0% {
    height: 0;
  }
  100% {
    height: 331px;
  }
}

@keyframes attributeTextTransition1920 {
  0% {
    left: 1000px;
  }
  100% {
    left: 0;
  }
}

//ATTRIBUTE
@keyframes creativityPositionTransition1920 {
  0% {
    right: 1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes creativityBorderTransition1920 {
  0% {
    height: 0;
  }
  100% {
    height: 331px;
  }
}

@keyframes creativityTextTransition1920 {
  0% {
    left: 1000px;
  }
  100% {
    left: 0;
  }
}

////
// .Resize {
//   .background {
//     img {
//       height: 100%;
//       width: auto;
//     }
//   }
// }
